@media (max-width: 550px) {
		header .wrapper {
				width: 100%;
				flex-direction: column; }
				header .wrapper .logo {
						margin: 0 0 10px; }
		header .band {
				display: none; }
		footer .wrapper {
				flex-direction: column;
				align-items: center;
				padding: 10px 0;
				margin: 0; }
				footer .wrapper .contact_info {
						margin: 12px auto;
						padding: 0 5vw;
						text-align: center; }
		.page-banner img {
				height: 100%; }
		.home .cta {
				margin: 195px auto 10px; }
				.home .cta .wrapper {
						flex-direction: column; }
						.home .cta .wrapper .sidebar {
								width: 100%; }
								.home .cta .wrapper .sidebar .block > h2:first-child {
										font-size: 24pt; }
								.home .cta .wrapper .sidebar p.tagline {
										display: none; }
								.home .cta .wrapper .sidebar .main-cta ul li {
										font-size: 12pt; }
								.home .cta .wrapper .sidebar .social_media ul li {
										margin: 5px 3vw 0 0; }
						.home .cta .wrapper .canvas {
								display: none; }
				.home .cta div.sidebar .block .main-cta .btns {
						display: block;
						margin: 0 auto;
						width: 100%; }
						.home .cta div.sidebar .block .main-cta .btns a {
								margin: 0 0 15px;
								padding: 15px;
								width: 100%; }
		.home .banner.one {
				margin-bottom: 0; }
				.home .banner.one .wrapper {
						flex-direction: column; }
						.home .banner.one .wrapper .container.one {
								width: 100%;
								margin: 0 0 25px; }
						.home .banner.one .wrapper .container.two {
								height: 290px;
								margin: 0 0 25px;
								width: 100%;
								overflow: hidden; }
								.home .banner.one .wrapper .container.two ul li {
										margin: 0 0 10px;
										height: 90px; }
						.home .banner.one .wrapper .container.three {
								width: 100%;
								height: 210px; }
								.home .banner.one .wrapper .container.three .backdrop {
										background-size: 60%;
										background-position: -90px 60px; }
		.home .banner.two {
				margin-bottom: 130px; }
		.home .banner.one .wrapper .container.catering {
				height: 320px;
				width: 100%;
				margin: 0 auto 25px; }
		.home-menu-specials {
				flex-direction: column; }
				.home-menu-specials li {
						width: 100%;
						margin: 15px 0; }
		.single .wrapper.page {
				overflow: hidden; }
				.single .wrapper.page .post .post-header {
						flex-direction: column;
						text-transform: capitalize; }
						.single .wrapper.page .post .post-header .title {
								margin: 0px 1vw 1vh 0; }
						.single .wrapper.page .post .post-header .social-row {
								align-items: flex-start; }
		.page-id-57 .wrapper.blog {
				display: flex;
				width: 98%;
				overflow: hidden;
				flex-direction: column; }
				.page-id-57 .wrapper.blog section.posts {
						width: 100%;
						align-items: center;
						justify-content: center; }
						.page-id-57 .wrapper.blog section.posts .post {
								width: auto;
								margin: 0 5px 25px 0; }
				.page-id-57 .wrapper.blog aside {
						width: 100%;
						margin-bottom: 50px; }
						.page-id-57 .wrapper.blog aside .banner h2 {
								margin-bottom: 15px; }
								.page-id-57 .wrapper.blog aside .banner h2 span {
										width: 25%; }
						.page-id-57 .wrapper.blog aside .social-row {
								justify-content: center; }
		body.page.page-id-59 .message {
				top: 20%;
				left: 0; }
		body.page.page-id-59 .contact-wrapper {
				flex-direction: column; }
				body.page.page-id-59 .contact-wrapper .left, body.page.page-id-59 .contact-wrapper .right {
						width: 100%; }
				body.page.page-id-59 .contact-wrapper .left {
						margin: 0 0 25px; }
				body.page.page-id-59 .contact-wrapper .right h4 {
						font-size: 3vh;
						text-align: center; }
				body.page.page-id-59 .contact-wrapper .right .review-us {
						padding: 1vh 0;
						width: 98%;
						margin: 1vh auto; }
						body.page.page-id-59 .contact-wrapper .right .review-us > div {
								padding: 1vh 0; }
								body.page.page-id-59 .contact-wrapper .right .review-us > div a {
										font-size: 6vw;
										justify-content: center; }
										body.page.page-id-59 .contact-wrapper .right .review-us > div a i {
												font-size: 7vw; }
				body.page.page-id-59 .contact-wrapper .social .section-header {
						margin: 0 auto 20px;
						padding: 0 2vw; }
						body.page.page-id-59 .contact-wrapper .social .section-header span {
								margin-top: 5px;
								display: block; }
				body.page.page-id-59 .contact-wrapper .social .social-wrapper {
						justify-content: center; }
				body.page.page-id-59 .contact-wrapper p:last-child {
						text-align: center;
						padding: 0 11vw; }
		.page-template-menu .menu-wrapper .menu-home-content .menu-home-body {
				flex-direction: column; }
				.page-template-menu .menu-wrapper .menu-home-content .menu-home-body .menu-sidebar {
						width: 100%; }
				.page-template-menu .menu-wrapper .menu-home-content .menu-home-body .right {
						width: 100%;
						margin-top: 10px;
						margin-bottom: 90px; }
		.page-template-menu .menu-wrapper .menu-home-content .row-1 .home-menu-ctas {
				flex-direction: column;
				width: 99%;
				margin: 0 auto; }
				.page-template-menu .menu-wrapper .menu-home-content .row-1 .home-menu-ctas li {
						margin: 0 0 10px;
						width: 100%; }
						.page-template-menu .menu-wrapper .menu-home-content .row-1 .home-menu-ctas li:last-child {
								margin-bottom: 0; }
						.page-template-menu .menu-wrapper .menu-home-content .row-1 .home-menu-ctas li:nth-child(3) i {
								top: 25%; }
						.page-template-menu .menu-wrapper .menu-home-content .row-1 .home-menu-ctas li:nth-child(3) span {
								left: 34%;
								top: 35%;
								font-size: 25pt;
								line-height: 1.2; }
		.page-template-menu .menu-wrapper .menu-home-content .home-menu-specials {
				width: 98%;
				background: #1f1f1f;
				display: flex;
				flex-direction: column;
				text-align: left;
				align-items: flex-start;
				padding: 0;
				box-sizing: border-box; }
				.page-template-menu .menu-wrapper .menu-home-content .home-menu-specials li {
						background: none;
						min-height: unset;
						margin: 0 1% 2vh 0; }
						.page-template-menu .menu-wrapper .menu-home-content .home-menu-specials li a {
								color: #eee;
								text-decoration: none;
								display: flex;
								align-items: center;
								text-transform: capitalize; }
								.page-template-menu .menu-wrapper .menu-home-content .home-menu-specials li a i {
										margin: 0 10px 0 0; }
						.page-template-menu .menu-wrapper .menu-home-content .home-menu-specials li.menu-post {
								width: 100%; }
		.page-template-menu .menu-wrapper .menu-home-content .menu-home-msg .menu-home-heading {
				text-align: center; }
		.page-template-menu .menu-wrapper .menu-home-content .menu-home-msg p {
				font-size: 7vw;
				text-align: center; }
		.page-template-tpl-no-sidebar .wrapper.page, .single-post .wrapper.page {
				margin: 175px auto 100px;
				width: 100%; }
		.page-template-menu .menu-wrapper .menu-home-content .menu-banner img {
				min-height: 280px;
				width: auto;
				height: 100%; }
		.menu-wrapper .wrapper {
				margin-top: 0; }
				.menu-wrapper .wrapper.menu {
						display: block; }
						.menu-wrapper .wrapper.menu .banner {
								position: relative; }
								.menu-wrapper .wrapper.menu .banner img {
										width: auto; }
						.menu-wrapper .wrapper.menu .menu-sidebar {
								width: 100%; }
						.menu-wrapper .wrapper.menu .menu-selection {
								margin: 0 auto;
								width: 100%; } }
